





/* Body */

body {margin:0;background-color:#f8f8f8;}

.layout {
    margin-top: 10%;
}

.title {
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    font-size: 128px;
    color: #5cbdb9;
    border: #5cbdb9 2px solid;
    margin: 0px;
}



  