





/* Body */

body {
    margin:0;
    background-color:#f8f8f8;
    background-image: url("./img/bg.png");

}

.layout {
    margin-top: 10%;
    font-family: 'Jockey One', sans-serif;
}

.layout--secondary {
    margin-top: 5vh;
    margin-left: 35%;
    margin-right: 35%;
}

.layout__title {
    font-size: 48px;
    color: #5cbdb9
}

.layout__description {
    font-size: 24px;
    color: #5cbdb9
}

.title {
    text-align: center;
    font-size: 128px;
    color: #5cbdb9;
    border: #5cbdb9 2px solid;
    margin: 0px;
}



  