/* 
    links.scss
*/ 

.link {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    font-family: 'Luxurious Roman', cursive;
    font-size: 20px;
}